	{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Malin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'malin/images/icons/favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/bootstrap/css/bootstrap.min.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/fonts/font-awesome-4.7.0/css/font-awesome.min.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/fonts/themify/themify-icons.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/fonts/elegant-font/html-css/style.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/animate/animate.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/css-hamburgers/hamburgers.min.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/animsition/css/animsition.min.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/select2/select2.min.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/daterangepicker/daterangepicker.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/slick/slick.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/vendor/lightbox2/css/lightbox.min.css ' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'malin/css/util.css ' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'malin/css/main.css ' %}">
<!--===============================================================================================-->
</head>
<body class="animsition">
 {% include 'malin/partials/_top_bar.html'%}
 {% include 'malin/partials/_nav_bar.html'%}  

{% block content %}

{% endblock %}


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/jquery/jquery-3.2.1.min.js ' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/animsition/js/animsition.min.js ' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/bootstrap/js/popper.js ' %}"></script>
	<script type="text/javascript" src="{% static 'malin/vendor/bootstrap/js/bootstrap.min.js ' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/select2/select2.min.js ' %}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/slick/slick.min.js ' %}"></script>
	<script type="text/javascript" src="{% static 'malin/js/slick-custom.js ' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/countdowntime/countdowntime.js ' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/lightbox2/js/lightbox.min.js ' %}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{% static 'malin/vendor/sweetalert/sweetalert.min.js ' %}"></script>
	<script type="text/javascript">
		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});

		$('.block2-btn-addwishlist').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");
			});
		});
	</script>

<!--===============================================================================================-->
	<script src="{% static 'malin/js/main.js ' %}"></script>

</body>
</html>
